:root {
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);

  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);

  --family: "Ubuntu", sans-serif;
  --Weights: (400, 500, 700);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: var(--family);
  font-size: 18px;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url("./assets/images/bg-sidebar-mobile.svg") no-repeat top;
  background-size: 100%;
  background-position: fixed;
  align-items: center;
  background-color: var(--Light-blue);
}

.topHeader {
  display: flex;
  width: 55%;
  justify-content: space-between;
  margin-top: 2rem;
  text-align: center;
}

.circle {
  color: white;
  font-size: 1rem;
  border: 2px solid white;
  border-radius: 50%;
  font-weight: 400;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  padding: 0.5rem 0;
}

.bottomContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.section1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
  border-radius: 10px;
  background-color: white;
  margin-top: 2rem;
  padding: 30px 20px;
}

.title {
  font-size: 1.8rem;
  color: var(--Marine-blue);
}

.section1 .error {
  color: var(--Strawberry-red);
  display: none;
}

.label-for-name,
.label-for-email,
.label-for-phone {
  display: flex;
  justify-content: space-between;
}
.desc {
  font-weight: 500;
  color: var(--Cool-gray);
}

.section1 form {
  display: flex;
  flex-direction: column;
}

.section1 label {
  color: var(--Purplish-blue);
  font-weight: 400;
  font-size: medium;
}

.section1 input {
  width: 100%;
  font-weight: bold;
  border: 1px solid var(--Cool-gray);
  border-radius: 5px;
  padding: 0.8rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section2,
.section3,
.section4,
.section5 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
  border-radius: 10px;
  background-color: white;
  margin-top: 2rem;
  padding: 30px 20px;
}

.section2 label {
  display: flex;
  gap: 1rem;
}

.section2 .plan {
  border: 1px solid var(--Light-gray);
  border-radius: 5px;
  padding: 1.5rem;
}

.section2 .plan:hover {
  border-color: var(--Marine-blue);
}

.section2 h4 {
  color: var(--Marine-blue);
}

.section2 p {
  color: var(--Cool-gray);
}

.section2 .planRadio {
  display: none;
}

.section2 .changer {
  background-color: var(--Magnolia);
  padding: 0.5rem;
  border-radius: 5px;
}

.switch {
  display: flex;
  justify-content: center;

  color: var(--Cool-gray);
  margin-left: 45%;
  position: relative;
  width: 45px;
  height: 25px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0 27px 0 27px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(hsl(213, 96%, 18%), hsl(213, 96%, 18%));
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-image: linear-gradient(
    to right,
    hsl(213, 96%, 18%),
    hsl(213, 96%, 18%)
  );
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.section2 #monthly {
  color: var(--Marine-blue);
}

.section3 .pick {
  display: flex;
  justify-content: space-around;
  border: 1px solid var(--Marine-blue);
  border-radius: 5px;
  padding: 1rem;
  align-items: center;
}
.section3 .pick p {
  color: var(--Cool-gray);
  font-size: 16px;
}

.section3 .pick h5 {
  color: var(--Purplish-blue);
}

.section3 .pick input {
  height: 1.8rem;
  width: 1.8rem;
}
.section3 .pick label {
  color: var(--Marine-blue);
  font-size: 1.2rem;
  font-weight: 500;
}

.section3 .service,
.storage,
.profile {
  padding: 0.8rem;
}

.section4 .planName {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  color: var(--Marine-blue);
  font-weight: 500;
  align-items: center;
}

.section4 .planAddOns {
  gap: 1rem;
  row-gap: 1rem;
  color: var(--Cool-gray);
}

.section4 .color {
  border-radius: 5px;
  background-color: var(--Magnolia);
  padding: 0.8rem;
}

.addon-item {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
.addon-price {
  color: var(--Purplish-blue);
}
.addon-name {
  font-weight: 500;
}

#amountPlan {
  font-size: large;
}

.section4 .totalAmount {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.section4 .totalAmount p {
  color: var(--Cool-gray);
}

.section4 .costAmount {
  color: var(--Purplish-blue);
}

.section5 {
  padding: 6rem;
}

.section5 .thankyou {
  align-self: center;
}

.section5 .ty {
  align-self: center;
  text-align: center;
}

.footer {
  display: flex;
  width: 100%;
  padding: 1rem;
  background-color: var(--White);
}

.footer #nextBtn {
  background: var(--Marine-blue);
  font-weight: 700;
  border-radius: 5px;
  color: var(--White);
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  margin-left: auto;
}

.footer #backBtn {
  border: none;
  font-weight: 700;
  color: var(--Cool-gray);
  background-color: white;
  font-size: 18px;
}

@media screen and (min-width: 1024px) {
  body {
    background-color: var(--Light-blue);
  }

  .container {
    flex-direction: row;
    background: none;
    background-color: var(--White);
    height: 80vh;
    width: 60vw;
    align-items: center;
    margin: auto;
    background-position: fixed;
    border-radius: 20px;
    align-self: center;
    margin-top: 5%;
    overflow: hidden;
  }

  .topHeader {
    flex-direction: column;
    background: url("/assets/images/bg-sidebar-desktop.svg") no-repeat;
    background-size: contain;
    height: 90%;
    width: 50%;
    justify-content: flex-start;
    gap: 2rem;
    margin: 0;
    padding: 2rem;
    margin-left: 1rem;
  }

  .section1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    background-color: white;
    margin-top: 2rem;
  }

  .section1 label {
    font-weight: 700;
    font-size: 1.2rem;
  }

  .section1 input {
    font-size: large;
  }

  .section1 form {
    gap: 2rem;
  }

  .title {
    font-size: 1.8rem;
    color: var(--Marine-blue);
  }

  .footer {
    padding-right: 3rem;
    padding-bottom: 3rem;
  }

  .step-container {
    position: absolute;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 4rem;
    transform: translateY(-60%);
  }

  .section2 .allPlan {
    display: flex;
    padding-top: 2rem;
    gap: 0.5rem;
    justify-content: center;
  }

  .section2 .plan {
    gap: 1rem;
  }
  .section2 .allPlan label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    border-radius: 2rem;
  }
  .section2 .changer {
    margin-top: 3rem;
  }

  .section5 {
    margin: auto;
    padding: 0;
  }

  .footer #backBtn {
    padding-left: 2.2rem;
  }
}
